.services-wrapper{
    padding: 40px 0;

    .col-1{
        margin-right: 50px;
        max-width: 85px;
    }

    .col-2{
        width: 600px;
        margin-right: 85px;
    }

    .col-3{
        width: 450px;
    }

    &_items{
        .d-flex{
            text-decoration: none;
            color: $white;
            gap: 25px;
            padding: 42px 30px;
            border: 1px solid #FFFFFF12;
            border-radius: 25px;
            background-color: $black_2;


            .item-icon{
                width: 70px;
                max-width: 70px;
                min-width: 70px;
                height: 70px;
            }

            p{
                margin-bottom: 0;
                margin-top: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            h5{
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-line-clamp: 1; 
                -webkit-box-orient: vertical;
                overflow: hidden;
            }


            &:not(:last-child){
                margin-bottom: 25px;
            }

        }
    }
}