@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Thin-BF6438cc577ef3b.otf") format("opentype");
  src: url("fonts/Nohemi-Thin-BF6438cc57e2011.woff") format("woff");
  src: url("fonts/Nohemi-Thin-BF6438cc5896c67.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-ExtraLight-BF6438cc57e06d5.otf") format("opentype");
  src: url("fonts/Nohemi-ExtraLight-BF6438cc58a2634.ttf") format("truetype");
  src: url("fonts/Nohemi-ExtraLight-BF6438cc581502c.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Light-BF6438cc583f70b.otf") format("opentype");
  src: url("fonts/Nohemi-Light-BF6438cc5702321.woff") format("woff");
  src: url("fonts/Nohemi-Light-BF6438cc5899919.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Medium-BF6438cc581a509.otf") format("opentype");
  src: url("fonts/Nohemi-Medium-BF6438cc57ddecd.woff") format("woff");
  src: url("fonts/Nohemi-Medium-BF6438cc5883899.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Regular-BF6438cc58b98fc.otf") format("opentype");
  src: url("fonts/Nohemi-Regular-BF6438cc579d934.woff") format("woff");
  src: url("fonts/Nohemi-Regular-BF6438cc4d0e493.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-SemiBold-BF6438cc588b5e5.otf") format("opentype");
  src: url("fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff") format("woff");
  src: url("fonts/Nohemi-SemiBold-BF6438cc588a48a.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Black-BF6438cc565e67b.woff") format("woff"), url("fonts/Nohemi-Black-BF6438cc5874bd2.otf") format("opentype"), url("fonts/Nohemi-Black-BF6438cc58744d4.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-Bold-BF6438cc577b524.woff") format("woff"), url("fonts/Nohemi-Bold-BF6438cc587b5b5.ttf") format("truetype"), url("fonts/Nohemi-Bold-BF6438cc5812315.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Nohemi";
  src: url("fonts/Nohemi-ExtraBold-BF6438cc5761ae2.woff") format("woff"), url("fonts/Nohemi-ExtraBold-BF6438cc5881baf.ttf") format("truetype"), url("fonts/Nohemi-ExtraBold-BF6438cc58a4c3c.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
.services-wrapper {
  padding: 40px 50px;
  position: relative;
}
.services-wrapper .col-1 {
  margin-right: 50px;
}
.services-wrapper .col-2 {
  width: 600px;
  margin-right: 85px;
}
.services-wrapper .col-3 {
  width: 450px;
}
.services-wrapper_items .d-flex {
  text-decoration: none;
  color: #ffffff;
  gap: 25px;
  padding: 42px 30px;
  border: 1px solid rgba(255, 255, 255, 0.0705882353);
  border-radius: 25px;
  background-color: #1D1D1D;
}
.services-wrapper_items .d-flex p {
  margin-bottom: 0;
  margin-top: 10px;
}
.services-wrapper_items .d-flex h4 {
  margin-bottom: 0;
}
.services-wrapper_items .d-flex:not(:last-child) {
  margin-bottom: 25px;
}

body {
  font-family: "Nohemi";
}

.dark-wrapper {
  background-color: #101010;
  position: relative;
}
.dark-wrapper .dark-wrapper__bgvector {
  position: absolute;
  top: 120px;
  left: 0;
}

.w-full {
  max-width: 1440px;
  width: 100%;
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0;
}

h2, div.title {
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Nohemi";
}

h4 {
  font-size: 25px;
  font-family: "Nohemi";
  font-weight: 400;
  color: #ffffff;
}

p.small-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Nohemi";
  letter-spacing: 1px;
  color: #ffffff;
}

.small-title {
  font-size: 20px;
  line-height: 100%;
  font-family: "Nohemi";
  font-weight: 300;
  color: #ffffff;
}

/***************************************************
 * Generated by SVG Artista on 3/27/2025, 10:54:54 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/
@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 3926.7111816406px;
    stroke-dasharray: 3926.7111816406px;
  }
  100% {
    stroke-dashoffset: 7853.4223632813px;
    stroke-dasharray: 3926.7111816406px;
  }
}
.svg-elem-1 {
  opacity: 0;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 0.4;
}/*# sourceMappingURL=style.css.map */