@import "components/variables-&-common";
@import "components/header";
@import "components/footer";
@import "components/services-listing";
@import "components/technologies-listing";
@import "components/owl-slider";
@import "components/casestudies-listing";
@import "components/hero-wrapper";


body{
    font-family: 'Nohemi';
    overflow-x: hidden;
}


img{
  max-width: 100%;
}

.dark-wrapper{
    background-color: $black_1;

    .dark-wrapper__bgvector{
        position: absolute;
        top: 135px;
        left: 0;
    }
}

.w-full{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container{
    max-width: 1270px;
    width: 100%;
    padding: 0;
}


h2, div.title_2{
  font-size: 80px;
  font-weight: 300;
  line-height: 100px;
  color: $white;
  font-family: $font;
  letter-spacing: 0.03em;
}


h3, div.title_3{
    font-size: 50px;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $white;
    font-family: $font;
}

h4{
  font-size: 40px;
  font-weight: 300;
  color: $white;
  line-height: 47px;
  letter-spacing: 0.03em;
}

h5{
    font-size: 25px;
    font-family: $font;
    font-weight: 400;
    color: $white;
}

h6{
  font-size: 20px;
  font-family: $font;
    font-weight: 300;
    color: $white;
    letter-spacing: 0.03em;
}

.light-link{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: $font;
  text-transform: capitalize;
  color: $white;
}

.title-block{
  position: relative;

  .small-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
  }

  .title_2{
    position: relative;
    text-align: center;

    img{
      position: absolute;
    }
  }
}


p.small-text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-family: $font;
    letter-spacing: 1px;
    color: $white;
}

.small-title{
    font-size: 20px;
    line-height: 100%;
    font-family: $font;
    font-weight: 300;
    color: $white;
}


input::placeholder, 
textarea::placeholder {
  color: $white !important;
  opacity: 1 !important; 
}

/* For better browser support */
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder { 
  color: $white !important;
}

input::-ms-input-placeholder, 
textarea::-ms-input-placeholder { 
  color: $white !important;
}

.btn-blue{
  padding: 22px 36px;
  font-size: 15px;
  font-family: $font;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: $white;
  background-color: $blue;
  border-radius: 10px;
  transition: all .3s;

  &:hover{
    transform: scale(1.05);
    color: $white;
  background-color: $blue;
  }
}



//SVG animation code 

 @-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 3926.711181640625px;
      stroke-dasharray: 3926.711181640625px;
    }
  
    100% {
      stroke-dashoffset: 7853.42236328125px;
      stroke-dasharray: 3926.711181640625px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 3926.711181640625px;
      stroke-dasharray: 3926.711181640625px;
    }
  
    100% {
      stroke-dashoffset: 7853.42236328125px;
      stroke-dasharray: 3926.711181640625px;
    }
  }
  
  .svg-elem-1 {
    opacity: 0; 
    stroke: rgba(255, 255, 255, 0.5); 
    stroke-width: 0.4; 
}
  